<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .product-card {
            margin-bottom: 20px;
        }
        .product-image {
            max-height: 300px;
            object-fit: contain;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Products List</h1>
    <a href="/profile" class="btn btn-primary mb-4">Profile</a>
    <a href="/auth/signout" class="btn btn-primary mb-4">Sign Out</a>
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <a href="/products/create" class="btn btn-success mb-4">Add New Product</a>
    </div>
    <div class="row">
        <div class="col-md-4" th:each="product : ${products}">
            <div class="card product-card">
                <img class="card-img-top product-image" th:src="@{${product.imageURL}}" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                    <p class="card-text">Price: <span th:text="${product.price}"></span></p>
                    <p class="card-text" th:text="${product.description}">Description</p>
                    <p class="card-text">Stock Quantity: <span th:text="${product.stockQuantity}"></span></p>
                    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a th:href="@{/products/{id}/edit(id=${product.id})}" class="btn btn-warning">Edit</a>
                        <form th:action="@{/products/{id}/delete(id=${product.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <form th:action="@{/cart/add/{productId}(productId=${product.id})}" method="post" style="display:inline;">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>